body{
    background-color: rgb(248, 248, 248);
    height: 100%;
    width: 100%;
    position: relative;
}

.home-page{
    background-image: url('/assets/branch-6038.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
  
}
.color-gray{
    display: flex;
    
    margin: 0;
    padding: 0;
}
.sidebar{
    width: 30%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color:#2B4162;
   
  
}

.sidebar ul{
    padding: 0;
}
.sidebar .sidebar-links{
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.sidebar-list-item{
    font-size: 1.3rem;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 50px; */
}
.sidebar-list-item img{
    width: 30px;
    
}
.sidebar-list-item .item{
    display: flex;
  
   width: 100%;
   justify-content: center;
   align-items: baseline;
  
    
}
.item img{
    position: relative;
    top: 8px;
    margin: 0px 10px;

}
.sidebar-list-item :hover{
    background-color:#385F71;
    width: 100%;
}
.sidebar-list-item a{
    color: #F5F0F6;
    text-decoration: none;
    width: 100%;
    text-align: center;

}

/* main content sections */

.main-content{
    width: 100%;

}

.snakes-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.snake-item{
    padding: 10px;
}
.btns{
    display: flex;
    justify-content: center;
}
.card{
    min-height: 400px;
}
.card-title{
    font-weight: 700;
    min-height: 100px;
    text-align: center;
}
.card-text{
    font-weight: 700;
    text-align: center;
}
 /* Hospital */
 #map {
     height: 95vh;
     /* width: 500px; */
 }
 .pop-ups{
     width: 200px;
     height: 230px;
     /* line-height: 0px; */
  }
 .flex-row{
     display: flex;
     font-weight: 800;
     margin-bottom: -25px;
 }
 .image-container{
     max-height: 200px;

    
 }
 .image-container img{
     max-width: 50%;
 }
 .pop-up-content-icon{
     width: 20px;
     min-width: 20px;
     margin-right: 5px;
     
 }


 .nav-control{
    cursor: pointer;
    color: white;
    outline: none;
    width: 100%;
    padding: 0;
    
    }
 
    .hide{
        display: none;
    }
    
    @media only screen and (max-width: 600px) {

    .color-gray{
        flex-direction: column;
    }
    .sidebar{
        height: auto;
        width: 100%;
    }
    .main-content{
        height: 100vh;
        overflow-y: scroll;
    }
    .sidebar-links{
        flex-direction: row;
    }
    } 