body{
    background-color: rgb(248, 248, 248);
    height: 100%;
    width: 100%;
    position: relative;
}

.home-page{
    background-image: url('../../assets/background.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
    width:100%
  
}
 .overlay{
     width: 100%;
     height: 100%;
     background-color: rgb(10, 8, 8);
     opacity: .8;
 }
.homepage-data{
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
 }
.homepage-welcome{
    font-size: 3.5rem;
}
.team-members{
    display: flex;
    
}
.color-gray{
    display: flex;
    
    margin: 0;
    padding: 0;
    height: 100vh;
    
}
.height-adjustment{
    height: 3000px;
}
.sidebar{
    width: 30%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* background-color:#2B4162; */
    background: rgb(2,0,36);
    background: linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(41,187,214,1) 0%, rgba(116,53,197,1) 100%, rgba(40,180,157,1) 100%);
    
  
}

.sidebar ul{
    padding: 0;
}
.sidebar .sidebar-links{
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.sidebar-list-item{
    font-size: 1.3rem;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 50px; */
}
.sidebar-list-item img{
    width: 30px;
    
}
.sidebar-list-item .item{
    display: flex;
  
   width: 100%;
   justify-content: center;
   align-items: baseline;
  
    
}
.item img{
    position: relative;
    top: 8px;
    margin: 0px 10px;

}
.sidebar-list-item :hover{
    background-color:#385F71;
 }
.sidebar-list-item a{
    color: #F5F0F6;
    text-decoration: none;
    width: 100%;
    text-align: center;

}

 .current-location{
    /* padding: 50px; */
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    
 }
 
 .loader{
     display: flex;
     justify-content: center;
     align-items: center;
 }

/* main content sections */

.main-content{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.snakes-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.snake-item{
    padding: 10px;
}
.btns{
    display: flex;
    justify-content: center;
}
.card{
    min-height: 400px;
}
.card-title{
    font-weight: 700;
    min-height: 100px;
    text-align: center;
}
.card-text{
    font-weight: 700;
    text-align: center;
}
 /* Hospital */
 #map {
     height: 95vh;
     /* width: 500px; */
 }
 .pop-ups{
     width: 200px;
     height: 230px;
     /* line-height: 0px; */
  }
 .flex-row{
     display: flex;
     font-weight: 800;
     margin-bottom: -25px;
 }
 .image-container{
     max-height: 200px;

    
 }
 .image-container img{
     max-width: 50%;
 }
 .pop-up-content-icon{
     width: 20px;
     min-width: 20px;
     margin-right: 5px;
     
 }


 .nav-control{
    cursor: pointer;
    color: white;
    outline: none;
    width: 100%;
    padding: 0;
    
    }
 
    .hide{
        display: none;
    }
    
    @media only screen and (max-width: 600px) {

    .color-gray{
        flex-direction: column;
    }
    .sidebar{
        height: auto;
        width: 100%;
    }
    .main-content{
        height: 100vh;
        overflow-y: scroll;
    }
    .sidebar-links{
        flex-direction: row!important;
    }
    .homepage-data{
        text-align: center;
        flex-direction: column;
    
    }
    .team-members{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-page{
        background-image: url('../../assets/background.jpg');
        height: 100vh;
        background-position: center;
        background-size: contain;
        overflow-y: hidden;
        width:100%
      
    }
    .current-location{
        height: 150px;
        padding: 10px;
    }
    } 